html, body {
    height: 100%;
    font-family: 'Inter', sans-serif;
    background: rgb(237, 241, 241);
    min-width: 576px;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    height: 50px;
    background: rgb(3, 7, 41);
}

header > nav {
    display: flex;
    height: 100%;
}

header > nav > div, header > nav > ul > li {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > nav > ul {
    display: flex;
    height: 100%;
}

a {
    cursor: pointer;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

a:hover, a.active {
    color: rgb(3, 2, 31);
    background: rgb(208, 225, 225);
}



.container {
    height: calc(100% - 100px);

    margin: 0 100px;
    background: white;
    padding: 30px;
}

.container > :not(:first-child) {
    margin: 10px 0;
}

.container > .profile-container {
    height: 200px;
    width: 200px;
    background: url("../imgs/jaws.jpg");
    background-position: center;
    background-size: 170%;
    border-radius: 75%;
}


.container > h1 {
    font-size: 48px;
    font-weight: 700;
}

.container > h3 {
    font-size: 36px;
    font-weight: 500;
}

.container > form {
    display: flex;
    flex-direction: column;
}

.container > form >input, .container > form > textarea {
    width: 50%;
    margin-bottom: 10px;
    border: 1px solid rgb(15, 19, 19);
    font-family: "Inter", sans-serif;
}

.container > form >input:focus, .container > form >textarea:focus {
    outline: none !important;
    border: 1px solid rgb(46, 58, 58);
}


.container > form > button {
    background: white;
    border: 3px solid rgb(76, 146, 203);
    color: rgb(36, 86, 160);
    cursor: pointer;
    width: 25%;
    height: 36px;
}

.container > form > button:hover {
    background: rgb(154, 146, 181);
    color: white;
}

footer {
    height: 50px;
    background: rgb(3, 12, 12);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-weight: 200;
}

footer > * {
    margin: 5px;
}